.devis-page {
  width: 100%;
}

.status-accepte {
  background-color: #d1fae5;
  color: #059669;
}

.status-en-attente {
  background-color: #fef3c7;
  color: #d97706;
}

.status-refuse {
  background-color: #fee2e2;
  color: #dc2626;
}
