.factures-page {
  width: 100%;
}

.status-payee {
  background-color: var(--success-100);
  color: var(--success-700);
}

.status-en-attente {
  background-color: var(--accent-100);
  color: var(--accent-700);
}

.status-impayee {
  background-color: var(--error-100);
  color: var(--error-700);
}
